/* -----------fonts section----------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* ---------common styles start------------- */
body{
    margin: 0%;
    padding: 0;
    background-color: #ffffff; 
    font-family: 'Poppins', sans-serif;
}
/* ---------common styles end------------- */

/* ----------header start ------------- */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  padding: 10px;
  
}

/* -----------Navbar links--------------- */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

#login{
   margin-left: 500px;
    position: relative;
    
}

/*----------- Navbar links on mouse-over----------- */
.navbar a:hover {
  background-color: #000;

}

/*--------- Current/active navbar link-------- */
.active {
  background-color: #04AA6D;
}
/* ----------header end ------------- */






/* -------------top banner styles start ---------- */

.top-banner{
    /* display: flex;
    width: 80%;
    justify-items: center; */
    /* padding-top: 50px; */
    /* background-color: rgb(255, 255, 255); */
    background-image: url(https://img.freepik.com/free-vector/construction-skyline-construction-web-site-head-new-city-exterior_88272-1080.jpg?size=626&ext=jpg);
    
}

.top-banner:hover{
    background-color: rgb(255, 255, 255);
    transition-duration: 2000ms;

}

.banner{
    /* margin-top: 10px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    height: 100%;
    /* padding: 15px; */
    /* align-items: center ; */
     justify-content: center; 
    justify-items: center; 
    
    
}


.banner-title{
    margin-top: 30px;
    color: rgb(39, 39, 38);
    font-size: 2em;
    font-weight: 900;
    line-height: 70px;  
    /* width: 500px; */
    
}
.welcome{
    color: #313131;
    font-size: 30px;
    background-color: rgb(255, 217, 0);
    padding: 10px;
    border-radius: 5px;
    margin-left: 5px;
}

.details-info{
    color: rgb(29, 29, 32);
    font-size: 17px;
    font-weight: bold;
    
}

.paragraph2{
    color: rgb(255, 217, 0);
    /* font-size: 60px; */
    background-color: rgba(58, 61, 61, 0.644);
    width: 100%;
    line-height: 30px;
    padding: 20px;
    border-radius: 5px;
    /* justify-items: center; */
    align-items: center;
    /* text-align: center; */
}


.btn{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: red;
    /* border-radius: 10px;
     */
    
}


.btn a{
    /* margin-top: 50px; */
    text-decoration: none;
    color: seashell;
    /* font-weight: 600; */
    /* font-size: 18px; */

}


.banner img{
    width: 100%;
    height: 80%;
    border-radius: 5px;
    margin-top: 30px;
   
}

.partner{
    text-align: center;
    font-size: 40px;
    color: rgb(255, 176, 6);
    font-weight: 700;
    /* border: 1px solid red; */
    /* background-color: rgb(17, 120, 218); */
    margin-top: 50px;
    padding: 10px;
    /* width: 50%; */
    /* border-radius: 100px; */
    /* margin-left: 25%; */
    /* width: 75%; */
    /* padding-left: 12%; */
    /* align-items: center; */

}
/* -------------top banner styles end ---------- */


/* /////////////////////////////////////////////////////////// */


/* ---------------all player sectiion styles start ---------------*/
/* .container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: auto;
    

    
} */


.all-player{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;  
    justify-items: center;
    width: 100%;
    

    
    
    

    
}


.player{
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-top: 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);  
    border-radius: 5px;  
}


.player-img{
    /* width: 100%; */
    width: 350px;
    border-radius: 5px;
    height: 400px;
    justify-items: center;
}


.player-name{
    width: 300px;
    font-size: 22px;
    color: rgb(251, 172, 0);
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight:500;
}

.plan{
    color: rgb(228, 72, 21);
    font-size: 18px;
}


.player-details{
    font-size: 14px;
    opacity: 80%;
    margin-top: -5px;
    /* text-decoration: underline; */
} 

.deposit{
    color: red;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}
/* ---------------all player sectiion styles end ---------------*/

/* ///////////////////////////////////////////////// */

/* ----------Highlight styles start ------------*/

/* .all-highlights{ */
    /* margin-top: 100px; */
    /* display: flex; */
    /* grid-template-columns: repeat(2, 1fr); */
    /* width: 90%; */
    /* height: auto; */
    /* width: auto; */
    /* justify-items: center; */
    

/* } */


.highlights{
    margin-top: 100px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width:auto;
  justify-content: center;
    /* align-items: center; */
    

}

/* .highlight-text{
    width: 100%;

} */

.highlight-titlle{
    font-size: 2em;
    line-height: 60px;
}

.paragraph{
    opacity: 80%;
    font-size: 14px;
    line-height: 25px;
}

.match-image{
    width: 100%;
    height: auto;
    justify-content: center;
    
}

.match-image img{
    margin-top: 5px;
    width: 100%;
    /* height: 100; */
    border-radius: 10px;

} 

/* p{
    font-size: 22px;
} */




/* ----------Highlight styles end ------------*/

/* ////////////////////////////////////////////////////// */

/* ------------footer styles start ----------------- */
footer{
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    margin-top: 100px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px   #888888;
    
}

.logo{
    margin-top: 10px;

}

.logo-image{
    width: 350px;
    /* width: 100%; */
}

.all-icon{
    display: flex;
    flex-direction: row;
    margin-top: -20PX;
}

.socail-icon img{
    width: 40px;
    padding: 10px;
}


.copyright{
    margin: 0;
    padding: 0;
    font-size: 1em;
    opacity: 90%;
    text-align: center;
    margin-top: -20PX;
    
}



/* ------------footer styles end ----------------- */

/* ///////////////////////////////////////////////////////////////// */

/* --------------Media Queries -------------*/

/* ----------------Mobile devices------------ */

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media only screen and (max-width: 588px) {
  .navbar a {
    float: none;
    display: block;
  }
}

@media only screen and (max-width:688px) {

    .all-player{ 
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
}


    .highlights{
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;  
    padding-left: 80px;
    margin-top: 50px;
    line-height: normal;
}

    .match-image{
    width: 100%;
    margin-top: 50px;
    
}


    .banner{
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
}

    .banner-image img{
    width: 100%;
    padding-top: 20px;
}

    .top-banner{
    background-color: none;
}

#login{
    padding: 10px;
    margin-bottom: 20px;
    margin: 0;
}

}

/* ////////////////////////////////////// The  End ///////////////////////////////// */